*.env
.idea/*
*.pyc
*.pyo
secrets.toml
*.toml
__pycache__/
*.py[cod]
analysis.ipynb
.ipynb_checkpoints
*.so

bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo

.mr.developer.cfg
.project
.pydevproject

.ropeproject

*.log
*.pot

docs/_build/